body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 90px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -90px;
  left: 90px;
  width: 90px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  overflow-x: hidden;
}

#page-content-wrapper {
  width: 100%;
}

.fa-heart-o,
.fa-heart {
  color: crimson;
  text-shadow: 0 0 13px crimson;
}

.navbar-nav {
  position: absolute;
  width: 90px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease 0s;
}

.navbar-nav li {
  line-height: 40px;
  text-indent: 20px;
  float: none;
}

.navbar-header {
  float: none;
  display: block;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  line-height: 65px;
  display: inline-block;
}

.content-header .tools {
  padding-right: 10px;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 0 15px;
  /* padding-right: 0; */
}

.nav>li>a {
  text-align: right;
  padding: 10px 10px;
}

#right {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(19, 19, 19);
  background-image: linear-gradient(to right,
    rgba(18,18,18,1) 0%,
    rgba(20,20,20,1) 25%,
    rgba(23,23,23,1) 50%,
    rgba(20,20,20,1) 75%,
    rgba(18,18,18,1) 100%
  );
  color: white!important;
  /* margin: 30px; */
}

#main {
  padding-left: 5px;
  padding-right: 30px;
}

.btn-xsm {
  padding: 2px 4px;
}

#menu-toggle {
  background: transparent;
  border: none;
  padding: 0;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }

  #main {
    padding-right: 5px;
  }

  #main #holder {
    padding-top: 5em;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 90px;
  }

  .content-header .tools .fa {
    font-size: 2em;
  }

  .content-header {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
  }

  #wrapper.active #sidebar-wrapper {
    left: 90px;
    width: 90px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
    z-index: 1000;
  }
}