<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8"><title>Lux</title><meta name="description" content="Lux Player"><meta name="viewport" content="width=device-width"><link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet"><link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/0ea3ae4e.main.css"><body ng-app="newSrcApp"><!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to
    improve your experience.</p>
<![endif]--><div id="wrapper"><!-- Sidebar --><div id="sidebar-wrapper" class="navbar-default"><div class="navbar-header"><a class="navbar-brand" href="#">Mopidy</a></div><ul class="nav navbar-nav" role="navigation" bs-navbar=""><li><a class="visible-xs" ng-click="toplayer()" href="#"><i class="fa fa-play-circle-o fa-2x"></i>Player</a></li><li data-match-route="^/$"><a href="#/"><i class="fa fa-music fa-2x"></i>Playlist</a></li><li data-match-route="/search.*"><a href="#/search"><i class="fa fa-search fa-2x"></i>Search</a></li><li data-match-route="/discover.*"><a href="#/discover"><i class="fa fa-bullseye fa-2x"></i>Discover</a></li><li data-match-route="/browse.*"><a href="#/browse"><i class="fa fa-folder-open fa-2x"></i>Browse</a></li><li data-match-route="/settings"><a href="#/settings"><i class="fa fa-sliders fa-2x"></i>Settings</a></li></ul></div><!-- Page content --><div id="page-content-wrapper"><!-- Keep all page content within the page-content inset div! --><div class="page-content inset"><div class="row"><div class="col-xs-12 col-sm-8 col-md-8" ng-class="{'hidden-xs':ui_state}" id="main"><div id="holder" ng-view=""></div></div><div class="col-xs-12 col-sm-4 col-md-4" id="right" ng-class="{'hidden-xs':!ui_state}"><div id="player" ng-controller="PlayerCtrl" ng-include="'views/player.html'"></div></div></div></div></div></div><!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]--><script src="/mopidy/mopidy.js"></script><script src="scripts/c629e544.vendor.js"></script><script src="scripts/90d6a72f.scripts.js"></script>