<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Lux</title>
    <meta name="description" content="Lux Player">
    <meta name="viewport" content="width=device-width">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"
          rel="stylesheet">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/player.css">
    <link rel="stylesheet" href="styles/playlist.css">
    <!-- endbuild -->
</head>
<body ng-app="newSrcApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to
    improve your experience.</p>
<![endif]-->

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mopidy</a>
        </div>
        <ul class="nav navbar-nav" role="navigation" bs-navbar>
            <li><a class="visible-xs" ng-click="toplayer()" href="#"><i
                class="fa fa-play-circle-o fa-2x"></i>Player</a></li>
            <li data-match-route="^/$"><a href="#/"><i
                class="fa fa-music fa-2x"></i>Playlist</a></li>
            <li data-match-route="/search.*"><a href="#/search"><i
                    class="fa fa-search fa-2x"></i>Search</a></li>
            <li data-match-route="/discover.*"><a href="#/discover"><i
                    class="fa fa-bullseye fa-2x"></i>Discover</a></li>
            <li data-match-route="/browse.*"><a href="#/browse"><i
                    class="fa fa-folder-open fa-2x"></i>Browse</a></li>
            <li data-match-route="/settings"><a href="#/settings"><i
                    class="fa fa-sliders fa-2x"></i>Settings</a></li>

        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8" ng-class="{'hidden-xs':ui_state}" id="main">
                    <div id="holder" ng-view=""></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4" id="right" ng-class="{'hidden-xs':!ui_state}">
                    <div id="player" ng-controller="PlayerCtrl" ng-include="'views/player.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="/mopidy/mopidy.js"></script>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/angular-bindonce/bindonce.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/directives/bootswatch.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/discover.js"></script>
<script src="scripts/controllers/browse.js"></script>
<script src="scripts/controllers/playlist.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/mopidy.js"></script>
<script src="scripts/controllers/player.js"></script>
<script src="scripts/filters/totime.js"></script>
<script src="scripts/filters/uriencode.js"></script>
<!-- endbuild -->
</body>
</html>
