<div id="wrap">
	<div id="art-area">
		<div id="cover-art">
            <img class="img-responsive" ng-show="cover" ng-src="{{cover}}">
						<div id="user">

						</div>
        </div>
	</div>

	<div id="footer">
		<div id="player">
				<div id="track-name-wrapper" ng-show="track">
						<span><h4>{{track}}</h4></span>
				</div>
				<div id="artist-name-wrapper"ng-show="artist" >
					<span><h3>{{artist}}</h3></span>
				</div>
		</div>

		<div id="progress">
			<div id="bar-click">
				<div id="bar-outer" class="navbar-default" ng-mousedown="seek($event)">
					<div id="bar-inner" class="navbar-inverse" style="width: {{track_position}}%;"></div>
					<span id="position" style="left: {{track_position}}%;"></span>
				</div>
			</div>
			<div id="time-marker" style="left: 2px;">
				<div id="time-marker-text">
					<span id="track-current">{{track_position_time | totime}}</span>
					<span id="track-length">{{track_length | totime}}</span>
				</div>
			</div>
		</div>

		<div id="controls">
			<div class="btn-group">
				<button ng-click="toggle_love()" type="button" class="btn btn-default btn-lg">
					<i ng-class="{'fa-heart-o':loved,'fa-heart':!loved}" class="fa"></i>
				</button>
				<button ng-class="{ active: random }" ng-click="toggle_random()" type="button" class="btn btn-default btn-lg"><span class="fa fa-random"></span></button>
				<button ng-class="{ active: repeat }" ng-click="toggle_repeat()" type="button" class="btn btn-default btn-lg"><span class="fa fa-retweet"></span></button>
				<button type="button" class="btn btn-default btn-lg"><span class="fa fa-volume-up"></span></button>
			</div>
			<div class="btn-group">
				<button ng-click="prev()" type="button" class="btn btn-default btn-lg"><span class="fa fa-step-backward"></span></button>
				<button ng-click="play()" ng-hide="state=='playing'" type="button" class="btn btn-default btn-lg"><span class="fa fa-play"></span></button>
				<button ng-click="pause()" ng-show="state=='playing'" type="button" class="btn btn-default btn-lg"><span class="fa fa-pause"></span></button>
				<button ng-click="next()" type="button" class="btn btn-default btn-lg"><span class="fa fa-step-forward"></span></button>
				<button ng-click="switchmode()" type="button" class="btn btn-default btn-lg visible-xs"><span class="fa fa-bars"></span></button>
			</div>

		</div>
	</div>
</div>
