<div class="content-header">
    <h1>
        <button class="btn btn-default" id="menu-toggle" ng-click="toggleMenu()" href="#"><i
                class="fa fa-bars fa-3x"></i></button>
        {{title}}
    </h1>
    <div class="pull-right tools">
      <button ng-click="add()" type="button" class="btn btn-default btn-xsm">
        <i class="fa fa-plus-circle"></i>
        <span class="hidden-xs">Add</span></button>

      <button ng-click="open()" type="button" class="btn btn-default btn-xsm">
        <i class="fa fa-folder-open"></i>
        <span class="hidden-xs">Load playlist</span></button>

      <button ng-disabled="!tracks.length>0" ng-click="save()" type="button" class="btn btn-default btn-xsm">
        <i class="fa fa-save"></i>
        <span class="hidden-xs">Save playlist</span></button>

      <button ng-disabled="!tracks.length>0" ng-click="clear()" type="button" class="btn btn-default btn-xsm">
        <i class="fa fa-eraser"></i>
        <span class="hidden-xs">Clear playlist</span></button>
    </div>
</div>


<div class="table-responsive" ng-show="tracks">
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Song</th>
          <th class="hidden-xs"><i class="fa fa-clock-o fa-2"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr bindonce ng-repeat="item in tracks track by $index" ng-click="play(item)">
          <td>
            <h5 bo-text="item.track.name"></h5>
            <h5 bo-text="item.track.artists[0].name"></h5>
            <h5 class="visible-xs" bo-text="item.track.length | totime"></h5>
          </td>
          <td class="hidden-xs"><h5 bo-text="item.track.length | totime"></h5></td>
        </tr>
      </tbody>
    </table>
</div>
<h3 ng-hide="tracks" >Empty list!</h3>
